<p>Your Repos</p>
<% @repos.each do |repo| %>
	<ul>
		<li>
			<p><%= repo.name %></p>
			<% repo.rels[:branches].get.data.each do |branch| %>
				<ul>
					<li><%= branch.name %><%= link_to '$$$', '' %></li>
				</ul>
			<% end %>
		</li>	
	</ul>
<% end %>

<!-- <p>Your Stars</p>
<% @stars.each do |star| %>
	<ul>
		<li>
			<p><%= star.name %></p>
			<% star.rels[:branches].get.data.each do |branch| %>
				<ul>
					<li><%= branch.name %><%= link_to '$$$', '' %></li>
				</ul>
			<% end %>
		</li>	
	</ul>
<% end %> -->

<br>
<%= link_to 'New Feature request', new_user_feature_path %>
